<% provide :extra_class, "reduced" %>
<div class="page_infos">

  <div class="page_image">
    <img src="<%= @fb_page.logo_path %>" alt="<%= @fb_page.name %>" />
  </div>
  <div class="page_likes">
    <span><%= @fb_page.likes %></span> Likes
  </div>
  <div class="page_text">
    <div class="page_name">
      <h1><%= @fb_page.name %></h1>
    </div>
    <div class="page_description">
      <%= @fb_page.description %>
    </div>
  </div>  
</div>

<div class="page_feeds">
<% @feeds.each do |f| %>

  <article class="feed">
    <div class="author">
      <div class="author_picture">
        <img src="<%= f[:from][:picture] %>" alt="<%= f[:from][:name] %>" width="50" height="50" />
      </div>
      <div class="author_name">
        <%= f[:from][:name]%>
      </div>
    </div>
    
    <div class="message">
      <%= f[:message] %>
    </div>

    <div class="feed_content">
      <div class="feed_picture">
  <%= link_to(f[:content][:link]) do %>
        <img src="<%= f[:content][:picture] %>" />
  <% end %>
      </div>
      <div class="feed_legend">
        <div class="feed_title">
  <%= link_to(f[:content][:link]) do %>
          <%= f[:content][:title] %>
  <% end %>
        </div>
        <div class="feed_caption">
  <%= link_to(f[:content][:link]) do %>
          <%= f[:content][:caption] %>
  <% end %>
        </div>
        <div class="feed_description">
  <%= link_to(f[:content][:link]) do %>
          <%= f[:content][:description] %>
  <% end %>
        </div>
        <div class="feed_time">
          il y a <%= time_ago_in_words(Time.parse(f[:created_at])) %>
        </div>
      </div>
    </div>
  </article>
  <hr class="mid_sep" />
<% end %>  
</div>